{% extends 'base.html' %}
{% block title %}비밀번호 변경{% endblock %}
{% block contents %}
<div class="container">
        <div class="login_container">
            <h1>비밀번호 변경</h1>
            <div class="error_message">
                {{error}}
            </div>
            <form method="POST" action="{% url 'accounts:change_pw' %}" class="login_form">
                {% csrf_token %}
                <table>
                <tr>
                    <td><div class="username_form_text">현재 비밀번호</div></td>
                    <td><div class="input_container">
                        <input class="login_input" name="origin_password" type="password">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="password_form_text">새 비밀번호</div></td>
                    <td><div class="input_container">
                        <input class="login_input" name="password1" type="password">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="confirm_password_form_text">비밀번호 확인</div></td>
                    <td><div class="input_container">
                        <input class="login_input" name="password2" type="password">
                    </div></td>
                </tr>
                </table>
                    <input type="submit"  class="btn btn-dark" value="Submit">
            </form>
    </div>
</div>
{% endblock %}