{% extends 'base.html' %}
{% block contents %}

<h1>회원 정보 수정</h1>

<form method="POST" action="{% url 'accounts:update' %}">
    {% csrf_token %}
    <!--<div class="form-group">
        <label>이름</label>
        <input  type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="20" required="" id="username">
    </div>
    <div class="form-group">
        <label>전화번호</label>
        <input  type="text" name="phnum" autofocus="" autocapitalize="none" autocomplete="phnum" maxlength="20" required="" id="phnum">
    </div>-->
    <!--{{ change_form }}-->
    <table>
    <tr><td><label for="id_name">Name: </label></td><td><input type="text" name="name" maxlength="10" required id="id_name"></td></tr>
    <tr><td><label for="id_phnum">Phnum:</label></td><td><input type="text" name="phnum" maxlength="15" required id="id_phnum"></td></tr>
    </table>
    <a href="{% url 'accounts:change_pw' %}" class="btn btn-danger">비밀번호 변경</a>
    <br>
    <input type="submit" value="정보 변경"/>
</form>

<a href="{% url 'accounts:delete' %}" class="btn btn-danger">회원탈퇴</a>


{% endblock %}