{% extends 'base.html' %}
{% block contents %}

<div class="container">
<h1>회원 정보 수정</h1>

<form method="POST" action="{% url 'accounts:update' %}">
    {% csrf_token %}


    <!--{{ change_form }}-->
    <table>
    <tr><td><label for="id_name">이름: </label></td><td><input type="text" name="name" maxlength="10" required id="id_name"></td></tr>
    <tr><td><label for="id_phnum">전화번호:</label></td><td><input type="text" name="phnum" maxlength="15" required id="id_phnum"></td><td></td></tr>
        <tr><td><input type="submit" class="btn btn-dark" value="정보 변경"/></td><td> </td>
        </tr>
        <tr><td></td></tr>
    </table>
    <br><br><br>
</form>


</div>

{% endblock %}