{% extends 'base.html' %}
{% block title %}구해요!{% endblock %}
{% block contents %}
<style type="text/css">
@charset "utf-8";
    .menu {
        text-align:center;
        height:50px;
        width:100px;
      transition: all 0.5s ease;
      background: white;
      padding: 10px;
      font-family: 'Nanum Gothic', sans-serif;
      font-weight: 600;
    }
    .menu:hover{
       color:#FFFFFF;
      background: #10A4FF;
    }
    .menu-discript{
      color:#999999;
      font-weight: lighter;
      margin:10px 0;
    }
    #list_emp td{
       width:10%;
    }

</style>

<div class="container">
<nav id="bo_cate">
            <ul>
                <li><a href="/employer/">전체</a></li>
                <li><a href=""id="bo_cate_on">집안일</a></li>
                <li><a href="/employer/load/">짐 옮기기</a></li>
                <li><a href="/employer/pet/">펫 서비스</a></li>
                <li><a href="/employer/acting/">역할 대행</a></li>
                <li><a href="/employer/short/">단거리 배달</a></li>
                <li><a href="/employer/carpool/">카풀</a></li>
                <li><a href="/employer/etc/">기타</a></li>
          </ul>
</nav>
</div>


<div class="container">
    <table style="width:100%"><tr class="list_emp">
        <td style="width:10%">글 번호</td>
        <td style="width:10%">분류</td>
        <td style="width:10%">장소</td>
        <td >제목</td>
        <td style="width:10%">글쓴이</td>
        <td style="width:20%">날짜</td>
    </tr>
    </table>
</div>

<div class="container">
    <script>i=0</script>
    {% for feed in posts %}
    <div class="feed" >
        <table style="width:100%;height:'';"><tr>
            <td style="width:10%">
                <script language="JavaScript">
                i++
                document.write(i);
                i++
                </script>
            </td>
            <td style="width:10%">
                <a class="menuid">{{ feed.menuid }}</a>
            </td>
            <td style="width:10%">
                <a class="place">{{ feed.place }}</a>
            </td>
            <td>
                <a href="feed/{{ feed.pk }}/" class="title">{{ feed.title }}</a>
            </td>
            <td style="width:10%">
                <a class="postid">{{ feed.postid }}</a>
            </td>
            <td style="width:20%">
                <a class="date">{{ feed.created_at }}</a>
            </td>
            <hr>
        <script language="JavaScript">
        i--;
        </script>
        </tr></table>
    </div>
    {% endfor %}
</div>
<br>

<!-- 여기부터 글 페이지 이동 영역-->
<div class="container">
    <table style="width:100%"><tr>
        <td style="width:25%;"></td>
        <td style="width:50%;text-align:center;">

    {% if posts.has_previous %}
     <a href="?page=1"> << </a>
     <a href="?page={{posts.previous_page_number}}"> < </a><a>   </a>
            {%endif%}
     <span>{{posts.number}}</span>
     <span>/</span>
     <span>{{posts.paginator.num_pages}}</span>
     {% if posts.has_next %}
     <a href="?page={{posts.next_page_number}}"> > </a>
     <a href="?page={{posts.paginator.num_pages}}"> >> </a>
     {% endif %}
        </td>

        <td style="width:25%;">
            <a href="/employer/new" style="float:right"><div class="menu" >글쓰기</div></a>
        </td>
    </tr></table>
</div>

{% endblock %}